@import 'layout';


/* Nested properties */
.funky {
    font: {
        family: Arial;
        size: 12px;
        weight: bold;
    }
}

.funky {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}
