* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 10px;

    background-color: white;
}


.container {
    background-color: #ccc;
}

.container-animatedbox {
    min-height: 300px;
    position: relative;

    perspective: 1200px;
    perspective-origin: 50% 50%;
}

.nav {
    width: 100%;
    padding: 20px;

    box-sizing: border-box;

    li {
        padding: 10px;
        margin-bottom: 10px;

        color: black;

        font-size: 1.5rem;

        text-align: center;
        text-transform: uppercase;

        background-color: yellow;
    }
}

.animated-box {
    position: absolute;

    width: 200px;
    height: 200px;

    perspective: 500px;

    background-color: green;

    -webkit-transform: rotateX(45deg);
}
