* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 10px;

    background-color: $white;
}

.main-wrapper {
    text-align: center;

    &.container {
        width: 100%;
        height: 100%;
    }

    .vue,
    #app {
        height: 100%;
    }
}

.h2 {
    font-size: 14px;
}

.gutters {
    overflow: hidden;
}

.box {
    background-color: #ccc;
    border: 1px solid #000;
}

.grid {
    [class^="col-"] {
        min-height: 100px;
        margin-bottom: 20px;
    }
}
