* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;

    font-family: Arial, sans-serif;
    font-size: 10px;

    background-color: $white;
}

.main-wrapper {
    &.container {
        width: 100%;
    }
}

.container-animatedbox {
    min-height: 300px;
    position: relative;

    perspective: 1200px;
    perspective-origin: 50% 50%;
}

h2 {
    margin: 20px 0;

    font-size: 14px;
}

[class^="col-"] {
    padding: 5px;

    border: 1px solid $black;
}
