@each $breakpoint, $i in $breakpoints {
    @media only screen and (min-width: #{$i}px) {
        .start-#{$breakpoint} {
            -ms-flex-pack: start;
            -webkit-box-pack: start;
            justify-content: flex-start;
            text-align: start;
        }

        .center-#{$breakpoint} {
            -ms-flex-pack: center;
            -webkit-box-pack: center;
            justify-content: center;
            text-align: center;
        }

        .end-#{$breakpoint} {
            -ms-flex-pack: end;
            -webkit-box-pack: end;
            justify-content: flex-end;
            text-align: end;
        }

        .top-#{$breakpoint} {
            -ms-flex-align: start;
            -webkit-box-align: start;
            align-items: flex-start;
        }

        .middle-#{$breakpoint} {
            -ms-flex-align: center;
            -webkit-box-align: center;
            align-items: center;
        }

        .bottom-#{$breakpoint} {
            -ms-flex-align: end;
            -webkit-box-align: end;
            align-items: flex-end;
        }

        .around-#{$breakpoint} {
            -ms-flex-pack: distribute;
            justify-content: space-around;
        }

        .between-#{$breakpoint} {
            -ms-flex-pack: justify;
            -webkit-box-pack: justify;
            justify-content: space-between;
        }
    }
}
