$widthsArr: (10, 20, 30);

@mixin gutter-sizes($width) {
    .gutter-xs-#{$width} {
        @media (max-width: $screen-sm-min) {
            margin: 0 (-$width/2)+px;
        }

        [class^="col-"],
        [class^=" col-"] {
            @media (max-width: $screen-sm-min) {
                padding: 0 ($width/2)+px;
            }
        }
    }

    .gutter-sm-#{$width} {
        @media (min-width: $screen-sm-min) {
            margin: 0 (-$width/2)+px;
        }

        [class^="col-"],
        [class^=" col-"] {
            @media (min-width: $screen-sm-min) {
                padding: 0 ($width/2)+px;
            }
        }
    }

    .gutter-md-#{$width} {
        @media (min-width: $screen-md-min) {
            margin: 0 (-$width/2)+px;
        }

        [class^="col-"],
        [class^=" col-"] {
            @media (min-width: $screen-md-min) {
                padding: 0 ($width/2)+px;
            }
        }
    }

    .gutter-lg-#{$width} {
        @media (min-width: $screen-lg-min) {
            margin: 0 (-$width/2)+px;
        }

        [class^="col-"],
        [class^=" col-"] {
            @media (min-width: $screen-lg-min) {
                padding: 0 ($width/2)+px;
            }
        }
    }
}

@each $item in $widthsArr {
    @include gutter-sizes($item);
}
